@model Common.Models.Post

@{
    ViewData["Title"] = "Details";
}


<div class="position-relative mb-3">
                        <img class="img-fluid w-100"  src="https://localhost:44386/media/posts/@Model.Image" style="object-fit: cover; width=60%">
                        <div class="overlay position-relative bg-light">
                            <div class="mb-3">
                                <a href=""> @Model.PostType.Title</a>
                                <span class="px-1"> </span>
                                <span> @Model.CreationDate</span>
                            </div>
                            <div>
                                <h3 class="mb-3"> @Model.PostTitle</h3>
                                <p> @Html.Raw(Model.Summary) </p>
                                <p> @Html.Raw(Model.Details) </p>
                                 <a asp-action="Index">Back to List</a>
                    
                            </div>
                        </div>
                    </div>
		
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
            CKEDITOR.replace("Details");
            CKEDITOR.replace("Summary");

    </script>
}
