@model IEnumerable<Common.Post>

@{
    ViewData["Title"] = "Posts";
}

<h1>Posts</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-borderless table-striped table-earning">
    <thead>
        <tr>
           
            <th>
               Title
            </th>
      
            <th>
             Summary
            </th>
            <th>
               Image
            </th>
            <th>
                PostType
            </th>     
@*       <th>
                Term
            </th> *@    
     
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
        
            <td>
                @item.Title
            </td>
    
            <td style="width:10%">
             
                 @Html.Raw(item.Summary)
            </td>
            <td>
            <img src="~/media/posts/@item.Image" width="70" alt="" />
            </td>
            <td>
                @item.PostType.Title
            </td> 
  @*             <td>
                    @foreach(var term in item.PostTerms)
                    {
                       
                            @term.TermId
                   //
                    }
            </td> *@
           
            <td>
              <center>
         
                 <a asp-action="Edit" asp-route-id="@item.Id" >Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id" >Details</a> |
                    <a class="confirmDeletion" asp-action="Delete" asp-route-id="@item.Id" >Delete</a>
            </center>
            </td>
        </tr>
}
    </tbody>
</table>
