@model IEnumerable<PostType>

@{
    ViewData["Title"] = "PostTypes";
}

<h1 class="display-4 pb-5">All PostTypes</h1>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-4">
            <div class="ajaxbg d-none">
             
                
            </div>
            

            <h4>@item.Title</h4>
       
          @*  <p>
                <a asp-controller="Cart" asp-action="Add" asp-route-id="@item.Id" data-id="@item.Id" class="btn btn-primary addToFavorite">Add to Favorites</a>
            </p>*@
        </div>
    }

 

    @if (ViewBag.TotalPages > 1)
    {
        <div class="d-flex w-100 justify-content-center">
            <pagination page-count="@ViewBag.TotalPages" page-target="/posttypes" page-number="@ViewBag.PageNumber" page-range="@ViewBag.PageRange"></pagination>
        </div>
    }
</div>



